# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit testing / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.testmondata
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.htmlcov/
.shippable/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
nested_run_directory/

# pyenv
#   File for tracking Python version in a community setting
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in cases where the lockfile is platform-specific, it can be added to .gitignore.
#Pipfile.lock

# poetry
#   Using Poetry, it's generally recommended to include poetry.lock in version control.
#Poetry.lock

# pdm
#   Using PDM, it's generally recommended to include pdm.lock in version control.
#pdm.lock
.pdm-plugins/
.pdm-build/

# Celery stuff
celerybeat-schedule
celerybeat-pid

# SageMath parses
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Operating System Files
.DS_Store
Thumbs.db
